<!DOCTYPE html>
<html class="html">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Article</title>
        <link rel="shortcut icon" href="./static/assets/fav.ico">
    </head>
    <body class="body">
        <div id="main">
            <sidebar></sidebar>
            <!-- <placeholder></placeholder> -->
            <div class="container wrap-container">
                <header id="header" class="codrops-header" ref="header">
                    <button class="slider-switch" ref="switchBtnn" @click="toggleSlideshow">Switch view</button>
                </header>
                <div id="slideshow" ref="slideshow" class="dragslider" :class="{'scaleMain': zoom}">
                    <section class="img-dragger img-dragger-large dragdealer">
                        <div class="handle">
                            <div class="slide" v-for="item in lists" :data-content="'content-'+item.id">
                                <div class="img-wrap"><img src="./static/img/articles/1.jpg"/></div>
                                <h2>
                                    {{item.name}}
                                    <span>{{item.description}}</span>
                                    <ul v-if="slideshow.isFullscreen">
                                        <li v-for="link in item.links">
                                            <svg v-html="link.icon" fill="#007bff"></svg>
                                            <a :href="link.link_href" target="_blank">{{link.tag_name}}</a>
                                        </li>
                                    </ul>
                                </h2>
                                <button class="content-switch" @click="getTagType(item.id)">
                                    <i class="fa fa-arrow-down" aria-hidden="true"></i>
                                    查看
                                </button>
                            </div>
                        </div>
                    </section>
                    <!-- Content section -->
                    <section class="pages" :style="{overflow: !hiddenPageScroll ? 'hidden' : 'auto'}">
                        <div class="content" v-for="item in lists" :data-content="'content-'+item.id">
                            <h2>{{item.name}}</h2>
                            <p>
                                {{item.description_details}}
                            </p>
                        </div>
                        <gridload :data="propsData" ref="gridload" @load-more="loadMore" @hidden-scroll="hiddenScroll" @show-scroll="showScroll"></gridload>
                    </section>
                </div>
            </div>
            <aloading :loading-content="loadingObj" ref="loading"></aloading>
        </div>
    </body>
</html>

