<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Article</title>
        <link rel="shortcut icon" href="./static/assets/fav.ico">
    </head>
    <body>
        <div id="main">
            <sidebar></sidebar>
            <!-- <placeholder></placeholder> -->
            <div class="container">
                <header id="header" class="codrops-header">
                    <button class="slider-switch">Switch view</button>
                </header>
                <div id="overlay" class="overlay">
                    <div class="info">
                        <span class="info-drag">拖拽</span>
                        <span class="info-keys">使用图标</span>
                        <span class="info-switch">点击切换</span>
                        <button>Got it!</button>    
                    </div>
                </div>
                <div id="slideshow" class="dragslider">
                    <section class="img-dragger img-dragger-large dragdealer">
                        <div class="handle">
                            <div class="slide" v-for="item in lists" :data-content="'content-'+item.id">
                                <div class="img-wrap"><img src="./static/img/articles/1.jpg"/></div>
                                <h2>
                                    {{item.title}}
                                    <span>{{item.smallTitle}}</span>
                                </h2>
                                <button class="content-switch">
                                    <i class="fa fa-arrow-down" aria-hidden="true"></i>
                                    查看
                                </button>
                            </div>
                        </div>
                    </section><!-- /img-dragger-->
                    <!-- Content section -->
                    <section class="pages">
                        <div class="content" v-for="item in lists" :data-content="'content-'+item.id">
                            <h2>
                                {{item.title}}
                            </h2>
                            <p>
                                {{item.smallTitle}}
                                dasndkjahdjadkadasndkjahdjadkadasndkjahdjadkadasndkjahdjadkadasndkjahdjadka
                            </p>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </body>

    <script src="./static/js/snap.svg-min.js"></script>
    <script src="./static/js/classie.js"></script>
    <script src="./static/js/modernizr.custom.js"></script>
    <script src="./static/js/dragdealer.js"></script>
    <script src="./static/js/dragslideshow.js"></script>
    <script src="./static/js/articleInit.js"></script>
</html>

