article p{
    font-size: 16px !important;
    letter-spacing: 2px;
    line-height: 1.5;
}
blockquote{
    position: relative;
}
blockquote::before{
    content: '';
    background: #ddd;
    width: 10px;
    display: inline-block;
    height: 100%;
    position: absolute;
    left: -35px;
}
blockquote ul {
    padding: 0;
}

article pre{
    background: #f6f6f6;
    padding: 1em;
    border-radius: 5px;
    font-size: .8em;
}