.content {
    padding-top: 6em;
}

.trigger-headline {
    top: 0;
    left: 0;
    opacity: 1 !important;
    position: absolute;
    font-size: 6vw;
    text-transform: uppercase;
    pointer-events: none;
    line-height: 1;
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.trigger-headline span {
    display: inline-block;
    color: #fff;
    position: relative;
    padding: 0 5vw;
    -webkit-transition: opacity 2s, -webkit-transform 2s;
    transition: opacity 2s, transform 2s;
    -webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
    transition-timing-function: cubic-bezier(0.2,1,0.3,1);
    -webkit-transition-delay: 0.7s;
    transition-delay: 0.7s;
}

.js .trigger-headline--hidden span {
    pointer-events: none;
    opacity: 0;
}
.segmenter {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.segmenter__image {
    width: 100%;
    display: block;
}

.segmenter__background,
.segmenter__pieces,
.segmenter__piece-wrap,
.segmenter__piece-parallax,
.segmenter__piece {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.segmenter__piece-parallax {
    -webkit-transition: -webkit-transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
}

.segmenter__pieces {
    -webkit-perspective: 400px;
    perspective: 400px;
}

.segmenter__background,
.segmenter__piece {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.segmenter__shadow {
    position: absolute;
    opacity: 0;
    box-shadow: 0px 2px 15px rgba(0,0,0,0.7);
}


/*menu*/
a {
    color: #cecece;
    text-decoration: none;
}

a:hover {
    color: #fff;
    outline: none;
}
.menu a.active{
    color: #fff;
}
.menu {
    position: fixed;
    width: 150px;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 3000;
    /*overflow: hidden;*/
    -webkit-transform: translate3d(-150px, 0, 0);
    transform: translate3d(-150px, 0, 0);
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
}

.menu.menu--open {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.main {
    -webkit-transition: 0.6s;
    transition: 0.6s;
}

.menu.menu--open + .main {
    opacity: 0.3;
    pointer-events: none;
}

.menu__inner {
    /*width: calc(100% + 25px);*/
    overflow-y: auto;
    height: 100%;
    position: relative;
    z-index: 100;
    overflow: hidden;
}

.menu ul {
    list-style: none;
    padding: 60px 0;
    width: 100px;
    height: 100%;
    margin: 0;
    background: #454545;
}

.menu ul li {
    margin: 0 0 2em 0;
    -webkit-transform: translate3d(-150px, 0, 0);
    transform: translate3d(-150px, 0, 0);
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
}

.menu.menu--anim ul li {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.menu ul li:first-child {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.menu ul li:nth-child(2) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.menu ul li:nth-child(3) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.menu ul li a {
    display: block;
    outline: none;
    text-align: center;
    font-size: 0.8em;
}

.menu ul li .fa {
    font-size: 2.5em;
    display: block;
    margin: 0px auto;
    margin-bottom: 7px;
}

.menu ul li span {
    font-weight: bold;
    font-size: 0.75em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.menu.menu--open .menu__handle{
    right: 85px;
}

.menu__handle {
    border: none;
    width: 30px;
    height: 24px;
    padding: 0;
    outline: none;
    position: absolute;
    top: 13px;
    right: -47px;
    background: none;
    transition: .3s;
    z-index: 2000;
}

.menu__handle::before,
.menu__handle::after,
.menu__handle span {
    background: #dedbdb;
}

.menu__handle::before,
.menu__handle::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    top: 50%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: -webkit-transform 0.25s;
    transition: transform 0.25s;
}
.menu--open .menu__handle{
}
.menu__handle span {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    overflow: hidden;
    text-indent: 200%;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
}

.menu__handle::before {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
}

.menu__handle::after {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
}

.menu--open .menu__handle span {
    opacity: 0;
}

.menu--open .menu__handle::before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
}

.menu--open .menu__handle::after {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
}

.morph-shape {
    position: absolute;
    height: 100%;
    width: 400px;
    top: 0;
    right: 0;
}

.morph-shape svg path {
    stroke: #fff;
    stroke-width: 3px;
}


/*article*/
.js .codrops-header,
.js .codrops-top {
    position: fixed;
    z-index: 1000;
}

/* Header */
.codrops-header {
    margin: 0 auto;
    width: 70%;
    left: 15%;
    top: 3.5em;
    pointer-events: none;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.message {
    display: none;
    clear: both;
    color: #f39c12;
}

.codrops-header h1 {
    margin: 0;
    font-weight: 700;
    font-size: 1em;
    line-height: 1.3;
    padding: 1.5em 0 0.25em;
    text-transform: uppercase;
    letter-spacing: 1px;
    float: left;
}

/* To Navigation Style */
.codrops-top {
    width: 100%;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.69em;
    line-height: 2.2;
    top: 0;
    left: 0;
}

.codrops-top a {
    display: inline-block;
    padding: 0 1em;
    text-decoration: none;
    letter-spacing: 1px;
}

.codrops-top span.right {
    float: right;
}

.codrops-top span.right a {
    display: block;
    float: left;
}

.codrops-icon:before {
    margin: 0 4px;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-family: 'codropsicons';
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
    content: "\e001";
}

.codrops-icon-prev:before {
    content: "\e004";
}

.dragdealer {
  position: relative;
  height: 30px;
}
.dragdealer .handle {
  position: absolute;
  top: 0;
  left: 0;
}
.dragdealer .red-bar {
  width: 100px;
  height: 30px;
  background: #CC0000;
  color: #FFF;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}
.dragdealer .disabled {
  background: #898989;
}

/*dialog*/
.dialog,
.dialog__overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.dialog {
    position: fixed;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    pointer-events: none;
    z-index: 100;
}

.dialog__overlay {
    position: absolute;
    z-index: 1;
    background: rgba(55, 58, 71, 0.9);
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    -webkit-backface-visibility: hidden;
}

.dialog--open .dialog__overlay {
    opacity: 1;
    pointer-events: auto;
}

.dialog__content {
    width: 50%;
    max-width: 560px;
    min-width: 290px;
    background: #fff;
    padding: 4em;
    text-align: center;
    position: relative;
    z-index: 5;
    opacity: 0;
}

.dialog--open .dialog__content {
    pointer-events: auto;
}

/* Content */
.dialog h2 {
    margin: 0;
    font-weight: 400;
    font-size: 2em;
    padding: 0 0 2em;
    margin: 0;
}
.dialog--open .dialog__overlay {
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.dialog--close .dialog__overlay {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.dialog__content {
    padding: 0;
    background: transparent;
}

.dialog.dialog--open .dialog__content {
    opacity: 1;
}

.morph-shape {
    position: absolute;
    width: calc(100% + 0px);
    height: calc(100% + 0px);
    top: 0px;
    left: 0px;
    z-index: -1;
}

.morph-shape svg rect {
    stroke: #fff;
    stroke-width: 2px;
    stroke-dasharray: 1680;
}

.dialog--open .morph-shape svg rect {
    -webkit-animation: anim-dash 0.6s forwards;
    animation: anim-dash 0.6s forwards;
}

.dialog-inner {
    opacity: 0;
    background: #fff;
}

.dialog--open .dialog-inner {
    padding: 2em;
    opacity: 1;
    -webkit-transition: opacity 0.85s 0.35s;
    transition: opacity 0.85s 0.35s;
}

.dialog.dialog--open h2 {
    -webkit-animation: anim-elem-1 0.7s ease-out both;
    animation: anim-elem-1 0.7s ease-out both;
}

.dialog.dialog--open button {
    -webkit-animation: anim-elem-2 0.7s ease-out both;
    animation: anim-elem-2 0.7s ease-out both;
}

@keyframes anim-dash {
    0% {
        stroke-dashoffset: 1680;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes anim-dash {
    0% {
        stroke-dashoffset: 1680;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

/* Inner elements animations */

@-webkit-keyframes anim-elem-1 {
    0% { opacity: 0; -webkit-transform: translate3d(-150px, 0, 0); }
    100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0); }
}

@keyframes anim-elem-1 {
    0% { opacity: 0; -webkit-transform: translate3d(-150px, 0, 0); transform: translate3d(-150px, 0, 0); }
    100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
}

@-webkit-keyframes anim-elem-2 {
    0% { opacity: 0; -webkit-transform: translate3d(150px, 0, 0); }
    100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0); }
}

@keyframes anim-elem-2 {
    0% { opacity: 0; -webkit-transform: translate3d(150px, 0, 0); transform: translate3d(150px, 0, 0); }
    100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
}
