<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Index</title>
        <link rel="shortcut icon" href="./static/assets/fav.ico">
    </head>
    <body>
        <div id="nav_menu">
            <main class="wrap-container" :class="{'scaleMain': zoom}">
                <div class="segmenter" :style="{backgroundImage: 'url(' + bgImg + ')'}"></div>
                <h2 class="trigger-headline" style="opacity: 0;">
                    <span>h</span>
                    <span>e</span>
                    <span>l</span>
                    <span>l</span>
                    <span>0</span>                
                </h2>
            </main>
            <sidebar></sidebar>
        </div>
        <script src="./static/js/modernizr.custom.js"></script>
    </body>
</html>

