<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>user</title>
        <link rel="shortcut icon" href="./static/assets/fav.ico">
    </head>
    <body>
        <div id="userMain">
            <div class="container wrap-container" :class="{'scaleMain1': zoom}">
                <auser></auser>
            </div>
            <sidebar @zoom="zoomState"></sidebar>
            <aloading :loading-content="loadingObj" ref="loading"></aloading>
        </div>
        <script src="./static/js/modernizr.custom.js"></script>
    </body>
</html>

