<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" >
  <link rel="shortcut icon" href="./static/assets/fav.ico">
</head>
<body>
  <div id="start">
    <section id="container" class="wrap-container" :class="{'scaleMain': zoom}">     
        <a class="hiddenanchor" id="toregister"></a>
        <a class="hiddenanchor" id="tologin"></a>
        <div id="wrapper">
          <login></login>
          <register></register>
        </div>
    </section>
    <sidebar @zoom="zoomState"></sidebar>
  </div>  
  <script src="./static/js/modernizr.custom.js"></script>
</body>
</html>