<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="./static/assets/fav.ico">
</head>
<body>
  <div id="start">
    <section id="container" class="wrap-container" :class="{'scaleMain': zoom}">             
        <a class="hiddenanchor" id="toregister"></a>
        <a class="hiddenanchor" id="tologin"></a>
        <div id="wrapper">
          <login></login>
          <register></register>
        </div>
    </section>
    <sidebar></sidebar>
    <adialog :dialog-content="dialogObj" ref="dialogContent"></adialog>
  </div>  

  <script src="./static/js/modernizr.custom.js"></script>
  <script src="./static/js/snap.svg-min.js"></script>
  <script src="./static/js/classie.js"></script>
  <script src="./static/js/dialogFx.js"></script>
</body>
</html>