<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="./static/assets/fav.ico">
</head>
<body>
    <section id="container">             
        <a class="hiddenanchor" id="toregister"></a>
        <a class="hiddenanchor" id="tologin"></a>
        <div id="wrapper">
            <div id="login" class="animate form">
                <login></login>
            </div>

            <div id="register" class="animate form">
                <register></register>
            </div>
        </div>
    </section>
</body>
</html>