@font-face {
    font-family: 'Blokk';
    src: url('../../static/fonts/blokk/BLOKKRegular.eot');
    src: url('../../static/fonts/blokk/BLOKKRegular.eot?#iefix') format('embedded-opentype'),
         url('../../static/fonts/blokk/BLOKKRegular.woff') format('woff'),
         url('../../static/fonts/blokk/BLOKKRegular.svg#BLOKKRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;font-size: 14px;
    background: #454545;
    line-height: 1.25;
}

.wrap-container{
    transition: .3s;
}
.scaleMain{
    transform: scale(.8);
    overflow: hidden !important;
}

/*wrap*/
.wrap{
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
}

/*icon*/
.flex{
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.icon{
    display: inline-block;
}

.icon-loading{
    width: 18px;
    height: 18px;
    background: url('../../static/img/loading.gif') 0 0 no-repeat;
    background-size: cover
}
.icon-button{
    background: #4e4e4e !important;
}
